@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css atau berkas CSS terkait */
.modal {
    background: white;
    border-radius: 8px;
    padding: 20px;
    max-width: 400px;
    margin: auto; /* Atur margin auto untuk pusat */
    position: relative; /* Pastikan modal berada di dalam posisi relative */
    /* top: 50%; Pusatkan secara vertikal */
    /* transform: translateY(-50%); Pusatkan dengan transformasi */
  }
  
  .overlay {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex; /* Flexbox untuk pusat konten */
    justify-content: center; /* Pusatkan horizontal */
    align-items: center; /* Pusatkan vertikal */
  }
  